<div class="filter-block">
  <div class="filter" [class.open]="sortingOpen" (click)="toggleSorting()">
    <div class="filter-head" (click)="filter()">Фильтр по тегам</div>
    <div class="filter-items" *ngIf="sortingOptions">
      <label class="filter-item" *ngFor="let sortingOption of sortingOptions">
        <input type="checkbox" #input
               [checked]="activeParams.types.includes(sortingOption)"
               (change)="updateFilterParam(sortingOption, input.checked)">
        <span>{{sortingOption}}</span>
      </label>
    </div>
  </div>
  <button type="button" class="filter-button" (click)="removeFilters()">Сбросить</button>
</div>

